<form [formGroup]="distributorForm" (ngSubmit)="saveButton()" novalidate>
    <div class="mb-4">
        <h6 class="text-uppercase">პირადი ინფორმაცია</h6>

        <hr class="dotted" />
    </div>

    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="form6Example1">სახელი</label>
                <input
                    type="text"
                    id="form6Example1"
                    class="form-control"
                    formControlName="firstname"
                />
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="form6Example2">გვარი</label>
                <input
                    type="text"
                    id="form6Example2"
                    class="form-control"
                    formControlName="lastname"
                />
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <div class="form-outline mb-4">
                <label class="form-label" for="form6Example3"
                    >დაბადების თარიღი</label
                >
                <input
                    type="date"
                    name="dateofbirth"
                    id="dateofbirth"
                    class="form-control"
                    formControlName="birthdate"
                />
            </div>
        </div>

        <div class="col">
            <div class="form-outline mb-4">
                <label class="form-label" for="form6Example4">სქესი</label>
                <select
                    class="form-control"
                    id="exampleFormControlSelect1"
                    formControlName="gender"
                >
                    <option>არჩევა...</option>
                    <option>მამრობითი</option>
                    <option>მდედრობითი</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="form6Example5">სურათი</label>
        <div class="input-group mb-3 px-2 py-2 rounded-pill">
            <input
                id="upload"
                type="file"
                onchange="readURL(this);"
                class="form-control border-0"
                formControlName="imageUrl"
            />
        </div>
    </div>

    <h6 class="text-uppercase">პირადობის დამადასტურებელი ინფორმაცია</h6>

    <hr class="dotted" />
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline mb-4">
                <label class="form-label" for="form6Example4"
                    >საბუთის ტიპი</label
                >
                <select
                    class="form-control"
                    id="exampleFormControlSelect1"
                    formControlName="passportType"
                >
                    <option>არჩევა...</option>
                    <option>პირადობის მოწმობა</option>
                    <option>პასპორტი</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-outline mb-4">
                <label class="form-label" for="form6Example3"
                    >საბუთის სერია</label
                >
                <input
                    type="text"
                    id="form6Example1"
                    class="form-control"
                    formControlName="documentSeries"
                />
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline mb-4">
                <label class="form-label" for="form6Example3"
                    >საბუთის ნომერი</label
                >
                <input
                    type="text"
                    id="form6Example1"
                    class="form-control"
                    formControlName="passportNumber"
                />
            </div>
        </div>
        <div class="col">
            <div class="form-outline mb-4">
                <label class="form-label" for="form6Example3"
                    >გაცემის თარიღი</label
                >
                <input
                    type="date"
                    name="releaseDate"
                    id="releaseDate"
                    class="form-control"
                    formControlName="releaseDate"
                />
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline mb-4">
                <label class="form-label" for="form6Example3"
                    >პირადი ნომერი</label
                >
                <input
                    type="text"
                    id="form6Example1"
                    class="form-control"
                    formControlName="persNumber"
                />
            </div>
        </div>
        <div class="col">
            <div class="form-outline mb-4">
                <label class="form-label" for="form6Example3"
                    >მოქმედების ვადა</label
                >
                <input
                    type="date"
                    name="validDate"
                    id="validDate"
                    class="form-control"
                    formControlName="validDate"
                />
            </div>
        </div>
    </div>
    <div class="form-outline mb-4">
        <label class="form-label" for="form6Example3">გამცემი ორგანო</label>
        <input
            type="text"
            id="form6Example1"
            class="form-control"
            formControlName="issuedBy"
        />
    </div>
    <h6 class="text-uppercase">საკონტაქტო ინფორმაცია</h6>
    <hr class="dotted" />
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline mb-4">
                <label class="form-label" for="form6Example4"
                    >კონტაქტის ტიპი</label
                >
                <select
                    class="form-control"
                    id="exampleFormControlSelect1"
                    formControlName="contactType"
                >
                    <option>არჩევა...</option>
                    <option>ტელეფონი</option>
                    <option>მობილური</option>
                    <option>ელ.ფოსტა</option>
                    <option>ფაქსი</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-outline mb-4">
                <label class="form-label" for="form6Example3"
                    >საკონტაქტო ინფორმაცია</label
                >
                <input
                    type="text"
                    id="form6Example1"
                    class="form-control"
                    formControlName="contactInfo"
                />
            </div>
        </div>
    </div>
    <h6 class="text-uppercase">მისამართი</h6>
    <hr class="dotted" />
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline mb-4">
                <label class="form-label" for="form6Example4"
                    >მისამართის ტიპი</label
                >
                <select
                    class="form-control"
                    id="exampleFormControlSelect1"
                    formControlName="addressType"
                >
                    <option>არჩევა...</option>
                    <option>ფაქტიური მისამართი</option>
                    <option>რეგისტრაციის მისამართი</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-outline mb-4">
                <label class="form-label" for="form6Example3">მისამართი</label>
                <input
                    type="text"
                    id="form6Example1"
                    class="form-control"
                    formControlName="address"
                />
            </div>
        </div>
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="form6Example3">რეკომენდატორი</label>
    </div>
    <select
        name="test"
        class="form-control form-style"
        formControlName="parentId"
    >
        <option value="">არჩევა..</option>
        <option
            *ngFor="let user of children"
            [ngValue]="user.id"
            label="{{ user?.firstname }}"
        >
            {{ user?.firstname }}
        </option>
    </select>

    <button type="submit" class="btn btn-primary" style="float: right">
        Submit
    </button>
</form>
